@model ItiUmplemFrigiderul.Models.Farm

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

<h2 class="text-center mt-5">Farm Details</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<div class="container mt-4">
    <div class="card shadow-lg rounded p-4">
        <div class="row">
            <div class="col-md-6">
                <h4><strong>Name:</strong> @Model.Name</h4>
                <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                <p><strong>Address:</strong> @Model.Adress</p>
            </div>
            <div class="col-md-6 text-end">
                @if (ViewBag.AfisareButoane || @Model.UserId == ViewBag.UserCurent)
                {
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-success me-2" asp-controller="Farms" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <form method="post" asp-controller="Farms" asp-action="Delete" asp-route-id="@Model.Id">
                            <button class="btn btn-danger" type="submit">Delete Farm</button>
                        </form>
                    </div>
                    <div class="mt-3">
                        <a asp-controller="FarmProducts" asp-action="New" asp-route-id="@Model.Id" class="btn btn-primary">Add Product</a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row mt-4">
        @foreach (var prod in Model.FarmProducts)
        {
            @if (ViewBag.AfisareButoane || prod.Verified || @Model.UserId == ViewBag.UserCurent)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h5 class="card-title">@prod.Product.Name</h5>
                            <p class="card-text">@prod.Product.Description</p>
                            <p><strong>Price:</strong> @prod.Price lei</p>
                            <p><strong>Stock:</strong> @prod.Stock buc.</p>
                            <p>Rating: @prod.Rating <i class="fa-solid fa-star text-warning"></i></p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-outline-primary" asp-controller="FarmProducts" asp-action="Show" asp-route-id="@prod.Id">Details</a>
                                @if (prod.Stock >= 1)
                                {
                                    <form method="post" asp-controller="Carts" asp-action="Add" asp-route-id="@prod.Id">
                                        <button class="btn btn-outline-success">Add to Cart</button>
                                    </form>
                                }
                                else
                                {
                                    <p>Out of stock</p>
                                }
                                @if(ViewBag.UserCurent == prod.Farm.UserId || ViewBag.EsteAdmin)
                                {
                                    @if (@prod.Verified)
                                    {
                                        <p> Verficat</p>
                                    }
                                    else if (ViewBag.EsteAdmin)
                                    {
                                        <form method="post" asp-controller="FarmProducts" asp-action="Verify" asp-route-id="@prod.Id">

                                            <button class="btn btn-outline-primary" type="submit">Verifica</button>

                                        </form>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Neverficat</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
