@model ItiUmplemFrigiderul.Models.Product

@{
    ViewData["Title"] = "View Product";
}

<h2>@Model.Name</h2>

<div class="media">
    <img class="mr-3" src="@Model.Photo" alt="@Model.Name" style="width: 200px;">
    <div class="media-body">
        <h5 class="mt-0">Description</h5>
        @Model.Description
    </div>
</div>

@* Displaying the user's rights and action buttons based on their roles *@
@if (ViewBag.AfisareButoane)
{
    <div class="d-flex flex-row justify-content-between">

        <a class="btn btn-success" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Editeaza grasu</a>
        <a href="/Products/Index" class="btn btn-secondary">Inapoi la lista</a>
        <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id">

            <button class="btn btn-danger" type="submit">Sterge grasu</button>

        </form>

    </div>
}


@*Adaugare review
 <div class="container">

     <div class="row">

         <div class="col-md-2"></div>

         <div class="col-md-8">

             <div class="card">

                 <form method="post" asp-controller="Products" asp-action="Show">

                     <div class="card-body">

                         <input type="hidden" name="ProductId" value="@Model.Id" />

                         <label>Continut review</label>
                         <br />

                         <textarea class="form-control" name="Content"></textarea>

                         <span asp-validation-for="Content" class="text-danger"></span>
                         <br /><br />

                         <button class="btn btn-success" type="submit">Adauga comentariul</button>

                     </div>

                 </form>

             </div>

         </div>

         <div class="col-md-2"></div>

     </div>

 </div>
*@